# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Ignore unneeded operating system files
services/cache/*